.button {
  all: unset;

  font-size: rem($font-size-16);
  line-height: rem($line-height-24);

  padding: rem($gap-xxs) rem($gap-s);

  cursor: pointer;
  transition: all $default-transition-duration $default-transiton-type;

  text-align: center;
  border-radius: $border-radius-small;

  &:active {
    opacity: 1;
  }

  &--sienna {
    border: rem(1px) solid $raw-sienna;
    color: $clr-text-white;
    background-color: $raw-sienna;

    &:hover {
      opacity: .85;
    }

    &:active {
      opacity: 1;
    }
  }

  &--white {
    position: relative;

    border: $border-base;
    box-shadow: $box-shadow-base;
    background-color: $white;

    &::before {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;

      content: "";
      transition: all $default-transition-duration $default-transiton-type;

      opacity: 0;
      border-radius: $border-radius-small;
      box-shadow: rem(0px) rem(5px) rem(8px) rgba(0, 0, 0, 0.2);
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &:active {
      &::before {
        opacity: 0;
      }
    }
  }

  &--plain {
    padding: 0;
    justify-content: center;

    &:hover {
      color: $raw-sienna;
    }
  }

  &--big {
    font-size: rem($font-size-20);
    line-height: rem($line-height-30);
  }

  &--icon {
    display: flex;
    align-items: center;
    gap: rem(5px);
  }

  &--bold {
    font-weight: $font-weight-bold;
  }

  &__icon {
    flex-shrink: 0;

    width: rem(20px);
    height: rem(20px);

    &--small {
      width: rem(10px);
      height: rem(10px);
    }
  }
}