.pill {
  @include text-xs;

  display: inline-block;

  border-radius: rem(32px);
  background-color: $cararra;

  &--linen {
    background-color: $linen;
  }

  &__wrapper {
    padding: rem(4px) rem(12px);
  }

  &__text {
    margin: 0;
  }
}