.product-card {
  $icon-size: 16px;

  position: relative;

  max-width: rem(405px);

  border-radius: 0 0 rem(12px) rem(12px);
  box-shadow: $box-shadow-base;

  background-color: $white;

  &--post & {
    &__link {
      display: none;
    }

    &__header {
      display: flex;
      align-items: center;
      gap: rem($gap-xs);
    }

    &__date {
      @include text-xs;

      margin: 0;

      color: $clr-text-dimmed;
    }

    &__title {
      margin-top: rem($gap-s);
    }

    &__desc {
      @include text-base;
      @include multiline-text-truncate(6);

      margin: rem($gap-xxs) 0 0 0;

      color: $clr-text-dimmed;
    }

    &__button {
      margin-top: auto;
      padding-top: rem($gap-s);
    }
  }

  &__link {
    position: absolute;
    inset: 0;
    z-index: $z-index-card-overlay;
  }

  &__photo {
    overflow: hidden;

    position: relative;

    width: 100%;

    &::before {
      $width: 405px;
      $height: 268px;

      display: block;

      padding-top: percentage(calc($height / $width));
      
      content: "";
    }

    &-image {
      position: absolute;
      inset: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex-grow: 1;

    padding: rem($gap-m);
  }

  &__title {
    @include text-xl('bold');
    @include multiline-text-truncate(3);

    margin: 0;
  }

  &__price {
    @include text-m('bold');
    @include single-line-truncate;

    margin: 0;
  }

  &__address {
    @include text-base;
    @include single-line-truncate;

    margin: rem($gap-xs) 0 0 0;

    color: $clr-text-dimmed;

    &-icon {
      width: rem($icon-size);
      height: rem($icon-size);
    }
  }

  &__details {
    @include text-base;
    @include list-reset;

    display: flex;
    gap: rem($gap-m);

    margin-top: rem($gap-xs);
    
    color: $clr-text-dimmed;

    &-item {
      display: flex;
      align-items: center;
      gap: rem($gap-xxs);

      &-icon {
        width: rem($icon-size);
        height: rem($icon-size);
      }
    }
  }
}