.sub-menu {
  &__title {
    @include text-base;
    font-weight: $font-weight-regular;
    
    margin: 0;
  }

  &__items {
    @include list-reset;
    @include text-xs;

    display: flex;
    flex-direction: column;
    gap: rem($gap-xs);

    margin-top: rem($gap-xs);
  }

  &__item {
    transition: color $default-transition-duration $default-transiton-type;

    &:hover {
      color: $raw-sienna;
    }

    &-link {
      all: unset;

      cursor: pointer;
    }
  }
}