.main-page {
  background-color: $cararra-alt;

  &__hero {
    &-shape {
      position: absolute;
      z-index: $z-index-underlay;

      @media #{$screen-tablet} {
        display: none;
      }

      &--bottom {
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      
      @media #{$screen-tablet} {
        gap: rem($gap-s);
      }

      @media #{$screen-mobile} {
        flex-direction: column-reverse;
      }
    }

    &-card {
      position: relative;

      display: flex;
      flex: auto 1 1;

      @media #{$screen-tablet} {
        padding-block: rem($gap-s);
      }

      &-wrapper {
        display: inline-grid;
        place-content: center;

        width: 100%;
        
        @media #{$screen-tablet} {
          padding-left: rem($container-horizontal-padding);
        }

        @media #{$screen-mobile} {
          padding-inline: rem($container-horizontal-padding);
        }
      }

      &-search {
        margin-top: rem($gap-s);
      }
    }

    &-image-container {
      max-width: rem(720px);
      flex-shrink: 3;

      @media #{$screen-tablet} {
        align-self: center;

        max-width: rem(480px);
      }
    }
  }

  &__how {
    &-wrapper {
      padding-block: rem($gap-l);
    }

    &-title-bar {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: rem($gap-m);

      @media #{$screen-tablet} {
        flex-direction: column;
        align-items: center;
      }

      &-caption {
        @include text-m;

        max-width: rem(243px);
        margin: 0;

        @media #{$screen-tablet} {
          max-width: revert;

          text-align: center;
        }
      }

      &-logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: rem($gap-base);
      }

      &-logo {
        max-width: rem(120px);
      }
    }

    &-caption {
      margin: rem(120px) auto 0 auto;
    }

    &-cards {
      margin-top: rem($gap-l);
    }
  }

  &__benefits {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: rem(128px);

      padding-block: rem($gap-l);
    }

    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem($gap-base);

      @media #{$screen-tablet} {
        flex-direction: column-reverse;
      }
    }

    &-row--reverse & {
      &-col {
        &:last-child {
          order: -1;

          @media #{$screen-tablet} {
            order: revert;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      gap: rem($gap-s);
      
      margin-top: rem($gap-m);

      @media #{$screen-tablet} {
        flex-direction: column;
      }
    }

    &-features {
      display: flex;
      justify-content: space-between;
      gap: rem($gap-s);


      margin-top: rem($gap-base);

      @media #{$screen-tablet} {
        flex-direction: column;
      }
    }
  }

  &__listings {

    &-wrapper {
      position: relative;

      display: flex;
      flex-direction: column;

      padding-top: rem(132px);
      padding-bottom: rem(160px);

    }

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem($gap-s);
    }

    &-title {
      @include text-title;

      margin: 0;

      text-align: center;
    }

    &-content {
      margin-top: rem($gap-xl);
    }

    &-buttons {
      //! Temp
      display: flex;
      align-self: center;
      gap: rem(24px);

      margin-top: rem($gap-xl);

      @media #{$screen-mobile} {
        flex-direction: column;
      }
    }

    &-shape {
      position: absolute;
      z-index: $z-index-underlay;

      &--top {
        top: 0;
        right: 0;

        transform: rotate(90deg);
      }

      &--bottom {
        // 5px offet due to element rotation
        bottom: rem(-5px);

        transform: rotate(270deg);
      }
    }
  }
}