@mixin text-tiny {
  font-size: rem($font-size-12);
  line-height: rem($line-height-18);

  color: $clr-text-default;
}

@mixin text-xs {
  font-size: rem($font-size-14);
  line-height: rem($line-height-21);

  color: $clr-text-default;
}

@mixin text-base($bold: false) {
  font-size: rem($font-size-16);
  line-height: rem($line-height-24);

  color: $clr-text-default;

  @if ($bold == 'bold') {
    font-weight: $font-weight-bold;
  }
}

@mixin text-m($bold: false) {
  font-size: rem($font-size-18);
  line-height: rem($line-height-27);

  color: $clr-text-default;

  @if ($bold == 'bold') {
    font-weight: $font-weight-bold;
  }
}

@mixin text-l($bold: false) {
  font-size: rem($font-size-20);
  line-height: rem($line-height-30);

  color: $clr-text-default;

  @if ($bold == 'bold') {
    font-weight: $font-weight-bold;
  }
}

@mixin text-xl($bold: false) {
  font-size: rem($font-size-24);
  line-height: rem($line-height-34);

  color: $clr-text-default;

  @if ($bold == 'bold') {
    font-weight: $font-weight-bold;
  }
}

@mixin text-title {
  font-size: rem($font-size-48);
  font-weight: $font-weight-bold;
  line-height: rem($line-height-58);

  color: $clr-text-default;
}

@mixin single-line-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multiline-text-truncate($lines) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}